<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week4:FastAPI</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/week4.css') }}">
</head>
<body>
    <div id="title">
        <p>
            {{ title }}
        </p>
    </div>
    <div id="login">
        <p>{{ status }}</p>   
        <form action="/signin" method="post">
            <div>
                <label for="account">帳號</label>
                <input type="text" id="account" placeholder="" name="account">
            </div>
        
            <div>
                <label for="password">密碼</label>
                <input type="text" id="password" placeholder="" name="password">
            </div>
        
            <div>
                <label for="agreement">同意條款</label>
                <input type="checkbox" id="agreement" placeholder="同意條款" name="agreement">
            </div>
            <div>
                <button type="submit" name="submit" onclick="submitHandler()">登入</button>

            </div>
            
            <!-- <input type="button" value="signin"> -->
        </form>
        <hr>
        <p>{{ bonus }}</p>   
        <form id="square_form"  method="get">
            <div>
                <label for="">正整數</label>
                <input type="number" id="int_input" placeholder="" name="">
            </div>
            <div>
                <button type="submit" name="" onclick="cal_square()">計算</button>
            </div>
        </form>
    </div>

    
    
</body>
<script>
    function submitHandler(){
        const agreement = document.getElementById("agreement");
        const account = document.getElementById("account").value;
        const password = document.getElementById("password").value;
        if(!agreement.checked){
            alert("請先勾選同意條款");
            event.preventDefault();
            return;
        }
        if(!account){
            alert("帳號不可為空");
            event.preventDefault();
            return;
        }
        if(!password){
            alert("密碼不可為空");
            event.preventDefault();
            return;
        }

    }
    function cal_square(){
        
        const int_input = document.getElementById("int_input");
        // console.log(int_input.value);

        const square_form = document.getElementById("square_form");
        square_form.action = "/square/" + int_input.value;
        // console.log(square_form.action);
        // alert("wait a second");

        if(int_input.value<0){
            alert("Please enter a positive number");
            event.preventDefault();
        }
    }
</script>
</html>