<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>week6: member system</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/week6.css') }}">
</head>
<body>
    <div id="title">
        <p>
            {{ title }}
        </p>
    </div>
    <div id="login">
        <p>{{ username }}，歡迎登入系統</p>   
        <a href="/signout">登出系統</a>
    </div>
    <hr>
    <div id="comment_block">
        <p>快來留言吧</p>   
        <form action="/createMessage" method="post">
            <div>
                <!-- label 的 for 跟 input的 name 要互相對應 才能把值傳到後端 -->
                <label for="comment">內容</label>
                <input type="text" id="comment" placeholder="" name="comment">
            </div>
            <div>
                <button type="submit" name="submit_message" onclick="commentHandler()">送出</button>
            </div>
        </form>
    </div>
    <hr>
    <div id="message_block">
        {% for item in messages %}
            <form action="/deleteMessage" method="post">
                <b>{{item.name}}</b>：{{item.message}} 
                {% if username == item.name %}
                <input type="hidden" name="name" value="{{item.name}}"/>
                <input type="hidden" name="message" value="{{item.message}}"/>
                <button type="submit" class="delete_btn" onclick="deleteHandler()">x</button>
                {% endif %}
            </form>
        {% endfor %}
    </div>
    
</body>
<script>
    function commentHandler(){
        const comment = document.getElementById("comment").value;
        
        if(!comment){
            alert("留言不可為空");
            event.preventDefault();
            return;
        }
        console.log(comment);
    }
    function deleteHandler(){
        if(!confirm("確定要刪除嗎?")){
            event.preventDefault();
            return;
        }
    }
</script>
</html>